<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs'); %>
</head>

<body>
	<div class="body">
		<%- include('../partials/header.ejs'); %>
		<a class="item" href="">
			<img src="https://dangoweb.com/banner.png" alt="Harvest Treasures Garage Sale">
			<div class="inner">
				<div class="alert"><img src="<%- vars.domain %>/paw.png"> Happening Now</div>
				<h5>Harvest Treasures Garage Sale</h5>
				<p>Come on out & support the animals of Cove Animal Rescue! Our Harvest Treasures Garage Sale will
					be held on both November 2nd & 3rd from 12-3 p.m</p>
			</div>
		</a>
		<a class="item" href="">
			<img src="https://dangoweb.com/banner.png" alt="Harvest Treasures Garage Sale">
			<div class="inner">
				<div class="alert"><img src="<%- vars.domain %>/paw.png"> Happening Now</div>
				<h5>Harvest Treasures Garage Sale</h5>
				<p>Come on out & support the animals of Cove Animal Rescue! Our Harvest Treasures Garage Sale will
					be held on both November 2nd & 3rd from 12-3 p.m</p>
			</div>
		</a>
		<a class="item" href="">
			<img src="https://dangoweb.com/banner.png" alt="Harvest Treasures Garage Sale">
			<div class="inner">
				<div class="alert"><img src="<%- vars.domain %>/paw.png"> Happening Now</div>
				<h5>Harvest Treasures Garage Sale</h5>
				<p>Come on out & support the animals of Cove Animal Rescue! Our Harvest Treasures Garage Sale will
					be held on both November 2nd & 3rd from 12-3 p.m</p>
			</div>
		</a>
		<a href="/events" class="button">View All Events</a>
		<%- include('../partials/footer.ejs'); %>
	</div>
</body>
<%- include('../partials/foot.ejs'); %>

</html>